#RSSTICKER-button {
	list-style-image: url(chrome://rss-ticker/skin/toolbar-icon.png);
}
/*
#RSSTICKER-button:hover:active {
	background-color: transparent;
	-moz-image-region: rect(115px, 36px, 138px, 0px);
}
*/
#RSSTICKER-button[greyed="true"] {
	list-style-image: url(chrome://rss-ticker/skin/toolbar-icon-4-gray.png);
}
/*
#RSSTICKER-button[greyed="true"]:hover:active {
	-moz-image-region: rect(46px, 36px, 69px, 0px);
}
*/