#RSSTICKER-throbber {
	-moz-user-focus: ignore;
}

#RSSTICKER-throbber[busy="false"] {
	display: none;
}

#RSSTICKERToolbar toolbarbutton[image] {
	-moz-box-sizing: content-box; /* works right now */
	min-height: 16px;
	max-height: 2em;
	border-width: 1px;
	padding: 1px 2px;
}

RSSTICKERToolbar toolbarbutton image {
	width: 16px;
	height: 16px;
}

#feeds listitem[ignored="true"] {
	text-decoration: line-through;
	background-color: #e00;
}

#RSSTICKER-button {
	list-style-image: url(chrome://rss-ticker/skin/toolbar.gif);
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}

#RSSTICKER-button:hover {
	-moz-image-region: rect(24px, 24px, 48px, 0px);
}

#RSSTICKER-button:hover:active {
	-moz-image-region: rect(48px, 24px, 72px, 0px);
}

#RSSTICKER-button[greyed="true"] {
	-moz-image-region: rect(72px, 24px, 96px, 0px);
}

toolbar[iconsize="small"] #RSSTICKER-button {
	list-style-image: url(chrome://rss-ticker/skin/toolbar-small.gif);
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

toolbar[iconsize="small"] #RSSTICKER-button:hover {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}

toolbar[iconsize="small"] #RSSTICKER-button:hover:active {
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}

toolbar[iconsize="small"] #RSSTICKER-button[greyed="true"] {
	-moz-image-region: rect(48px, 16px, 64px, 0px);
}
