.rss-ticker-toolbar {
	padding: 5px 0;
}

.rss-ticker-hidden-toolbar {
	display: none !important;
}

#rss-ticker-toolbar-item {
	max-width: 100%;
	overflow: hidden;
}

#rss-ticker-toolbar-item toolbarbutton[image] {
	min-height: 18px;
	max-height: 18px;
	border-width: 1px;
	padding: 1px 2px;
}

#rss-ticker-toolbar-item toolbarbutton image {
	width: 16px;
	height: 16px;
}

#rss-ticker-toolbar-item toolbarbutton label {
	display: block !important;
}

#rss-ticker-tooltip {
	-moz-appearance: none;
	background-color: #fff;
	width: 400px;
	min-width: 400px;
	max-width: 400px;
}

.rss-ticker-tooltip-header label {
	max-width: 350px;
	text-overflow: ellipsis;
}

#rss-ticker-tooltip-summary-container {
	max-width: 380px;
}

#rss-ticker-tooltip-image {
	width: 16px;
	height: 16px;
	max-width: 16px;
	max-height: 16px;
	margin: 0 5px;
}

#rss-ticker-tooltip-feed-name {
	font-weight: bold;
}

#rss-ticker-tooltip-item-name {
	text-decoration: underline;
}