/* @todo Optimize these rules. */

#RSSTICKERToolbar toolbarbutton[image] {
	-moz-box-sizing: content-box; /* works right now */
	min-height: 16px;
	max-height: 2em;
	border-width: 1px;
	padding: 1px 2px;
}

#RSSTICKERToolbar toolbarbutton image {
	width: 16px;
	height: 16px;
}

#feeds listitem[ignored="true"] {
	text-decoration: line-through;
	background-color: #e00;
}

#RSSTICKERToolbar[boldUnvisited="true"] toolbarbutton {
	font-weight: bold;
}

#RSSTICKERToolbar[boldUnvisited="true"] toolbarbutton[visited="true"] {
	font-weight: normal;
}