#RSSTICKER-button {
	list-style-image: url(chrome://rss-ticker/skin/toolbar-icon.png);
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}

#RSSTICKER-button:hover:active, #RSSTICKER-button:hover {
	-moz-image-region: rect(48px, 24px, 72px, 0px);
}

#RSSTICKER-button[greyed="true"] {
	-moz-image-region: rect(24px, 24px, 48px, 0px);
}

#RSSTICKER-button[greyed="true"]:hover:active, #RSSTICKER-button[greyed="true"]:hover {
	-moz-image-region: rect(72px, 24px, 96px, 0px);
}

/* @todo Optimize these rules; better selector for toolbar[] */

toolbar[iconsize="small"] #RSSTICKER-button {
	list-style-image: url(chrome://rss-ticker/skin/toolbar-icon-small.png);
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

toolbar[iconsize="small"] #RSSTICKER-button:hover:active, toolbar[iconsize="small"] #RSSTICKER-button:hover {
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}

toolbar[iconsize="small"] #RSSTICKER-button[greyed="true"] {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}

toolbar[iconsize="small"] #RSSTICKER-button[greyed="true"]:hover:active, toolbar[iconsize="small"] #RSSTICKER-button[greyed="true"]:hover {
	-moz-image-region: rect(48px, 16px, 64px, 0px);
}

